Run_ID - The identification of each machining run

Exp - the preparation phase

Replica - The replica's number

Tool_ID - The identification of the tool used

Group - General information

Subgroup - 	General information

Position - The position where roughness was measured

Condition	- The condition related to the experiment's design.

TCond	- The flank wear width (VB) measured after machining. [mm]

Machined_length	- The machined length [mm]

Init_diameter	- The diameter before machining [mm]

Final_diameter	- The diameter after machining [mm]

CTime	- The cutting time [min]

R_measurement	- The angular position (on the workpiece) of roughness measurement.

ap	- Depth of cut [mm]

vc	- Cutting speed [m/min]

f	- Feed rate [mm/rev]

Ra	- Average mean deviation [um]

Rz	- Maximum height [um]

Rsk	- Skewness

Rku	- Kurtosis

RSm	- Mean width of profile [um]

Rt - Total height of profile [um]

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/Prep.csv')
df

,Run_ID,Exp,Replica,Tool_ID,Group,Subgroup,Position,Condition,TCond,Machined_length,...,R_measurement,ap,vc,f,Ra,Rz,Rsk,Rku,RSm,Rt
0,na,prep,na,81,na,na,front,na,0.000,320,...,1,0.50,350,0.1,0.884,3.187,0.245,1.660,100.0,3.296
1,na,prep,na,81,na,na,back,na,0.000,320,...,2,0.50,350,0.1,0.890,3.340,0.379,1.868,98.0,3.561
2,na,prep,na,81,na,na,front,na,0.000,320,...,3,0.50,350,0.1,0.926,3.292,0.192,1.632,99.1,3.485
3,na,prep,na,81,na,na,back,na,0.000,320,...,4,0.50,350,0.1,0.886,3.318,0.426,1.874,99.3,3.426
4,na,prep,na,81,na,na,front,na,0.032,320,...,1,0.50,350,0.1,0.855,3.022,0.313,1.690,100.6,3.367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,na,prep,na,33,na,na,back,na,0.070,320,...,4,0.25,350,0.1,0.555,2.211,0.291,1.846,63.8,2.457
208,na,prep,na,33,na,na,front,na,0.080,320,...,1,0.25,350,0.1,0.541,2.069,0.122,1.723,80.7,2.272
209,na,prep,na,33,na,na,back,na,0.080,320,...,2,0.25,350,0.1,0.505,1.856,0.040,1.567,74.9,1.946
210,na,prep,na,33,na,na,front,na,0.080,320,...,3,0.25,350,0.1,0.539,2.102,0.126,1.721,75.9,2.245
211,na,prep,na,33,na,na,back,na,0.080,320,...,4,0.25,350,0.1,0.546,2.044,0.048,1.614,82.0,2.462

In [ ]:
df.head()

,Run_ID,Exp,Replica,Tool_ID,Group,Subgroup,Position,Condition,TCond,Machined_length,...,R_measurement,ap,vc,f,Ra,Rz,Rsk,Rku,RSm,Rt
0,na,prep,na,81,na,na,front,na,0.000,320,...,1,0.5,350,0.1,0.884,3.187,0.245,1.660,100.0,3.296
1,na,prep,na,81,na,na,back,na,0.000,320,...,2,0.5,350,0.1,0.890,3.340,0.379,1.868,98.0,3.561
2,na,prep,na,81,na,na,front,na,0.000,320,...,3,0.5,350,0.1,0.926,3.292,0.192,1.632,99.1,3.485
3,na,prep,na,81,na,na,back,na,0.000,320,...,4,0.5,350,0.1,0.886,3.318,0.426,1.874,99.3,3.426
4,na,prep,na,81,na,na,front,na,0.032,320,...,1,0.5,350,0.1,0.855,3.022,0.313,1.690,100.6,3.367

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Run_ID           212 non-null    object
 1   Exp              212 non-null    object
 2   Replica          212 non-null    object
 3   Tool_ID          212 non-null    int64
 4   Group            212 non-null    object
 5   Subgroup         212 non-null    object
 6   Position         212 non-null    object
 7   Condition        212 non-null    object
 8   TCond            212 non-null    float64
 9   Machined_length  212 non-null    int64
 10  Init_diameter    212 non-null    float64
 11  Final_diameter   212 non-null    float64
 12  CTime            212 non-null    float64
 13  R_measurement    212 non-null    int64
 14  ap               212 non-null    float64
 15  vc               212 non-null    int64
 16  f                212 non-null    float64
 17  Ra               212 non-null    float64
 18  Rz               212 non-null    float64
 19  Rsk              212 non-null    float64
 20  Rku              212 non-null    float64
 21  RSm              212 non-null    float64
 22  Rt               212 non-null    float64
dtypes: float64(12), int64(4), object(7)
memory usage: 38.2+ KB

In [ ]:
df.describe

<bound method NDFrame.describe of     Run_ID   Exp Replica  Tool_ID Group Subgroup Position Condition  TCond  \
0       na  prep      na       81    na       na    front        na  0.000
1       na  prep      na       81    na       na     back        na  0.000
2       na  prep      na       81    na       na    front        na  0.000
3       na  prep      na       81    na       na     back        na  0.000
4       na  prep      na       81    na       na    front        na  0.032
..     ...   ...     ...      ...   ...      ...      ...       ...    ...
207     na  prep      na       33    na       na     back        na  0.070
208     na  prep      na       33    na       na    front        na  0.080
209     na  prep      na       33    na       na     back        na  0.080
210     na  prep      na       33    na       na    front        na  0.080
211     na  prep      na       33    na       na     back        na  0.080

     Machined_length  ...  R_measurement    ap   vc    f     Ra     Rz    Rsk  \
0                320  ...              1  0.50  350  0.1  0.884  3.187  0.245
1                320  ...              2  0.50  350  0.1  0.890  3.340  0.379
2                320  ...              3  0.50  350  0.1  0.926  3.292  0.192
3                320  ...              4  0.50  350  0.1  0.886  3.318  0.426
4                320  ...              1  0.50  350  0.1  0.855  3.022  0.313
..               ...  ...            ...   ...  ...  ...    ...    ...    ...
207              320  ...              4  0.25  350  0.1  0.555  2.211  0.291
208              320  ...              1  0.25  350  0.1  0.541  2.069  0.122
209              320  ...              2  0.25  350  0.1  0.505  1.856  0.040
210              320  ...              3  0.25  350  0.1  0.539  2.102  0.126
211              320  ...              4  0.25  350  0.1  0.546  2.044  0.048

       Rku    RSm     Rt
0    1.660  100.0  3.296
1    1.868   98.0  3.561
2    1.632   99.1  3.485
3    1.874   99.3  3.426
4    1.690  100.6  3.367
..     ...    ...    ...
207  1.846   63.8  2.457
208  1.723   80.7  2.272
209  1.567   74.9  1.946
210  1.721   75.9  2.245
211  1.614   82.0  2.462

[212 rows x 23 columns]>

In [ ]:
df.drop(columns=['Replica','Run_ID','Group','Subgroup','Condition','Exp','Position'],axis=1,inplace=True)

In [ ]:
df

,Tool_ID,TCond,Machined_length,Init_diameter,Final_diameter,CTime,R_measurement,ap,vc,f,Ra,Rz,Rsk,Rku,RSm,Rt
0,81,0.000,320,93.0,92.50,2.656890,1,0.50,350,0.1,0.884,3.187,0.245,1.660,100.0,3.296
1,81,0.000,320,93.0,92.50,2.656890,2,0.50,350,0.1,0.890,3.340,0.379,1.868,98.0,3.561
2,81,0.000,320,93.0,92.50,2.656890,3,0.50,350,0.1,0.926,3.292,0.192,1.632,99.1,3.485
3,81,0.000,320,93.0,92.50,2.656890,4,0.50,350,0.1,0.886,3.318,0.426,1.874,99.3,3.426
4,81,0.032,320,92.0,91.50,5.285056,1,0.50,350,0.1,0.855,3.022,0.313,1.690,100.6,3.367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,33,0.070,320,82.0,81.75,9.478634,4,0.25,350,0.1,0.555,2.211,0.291,1.846,63.8,2.457
208,33,0.080,320,81.5,81.25,11.812388,1,0.25,350,0.1,0.541,2.069,0.122,1.723,80.7,2.272
209,33,0.080,320,81.5,81.25,11.812388,2,0.25,350,0.1,0.505,1.856,0.040,1.567,74.9,1.946
210,33,0.080,320,81.5,81.25,11.812388,3,0.25,350,0.1,0.539,2.102,0.126,1.721,75.9,2.245
211,33,0.080,320,81.5,81.25,11.812388,4,0.25,350,0.1,0.546,2.044,0.048,1.614,82.0,2.462

In [ ]:
df.nunique()

Tool_ID              5
TCond               31
Machined_length      1
Init_diameter       41
Final_diameter      53
CTime               53
R_measurement        4
ap                   2
vc                   1
f                    1
Ra                 171
Rz                 199
Rsk                185
Rku                183
RSm                169
Rt                 209
dtype: int64

In [ ]:
df.isnull()

,Tool_ID,TCond,Machined_length,Init_diameter,Final_diameter,CTime,R_measurement,ap,vc,f,Ra,Rz,Rsk,Rku,RSm,Rt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
208,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
209,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
210,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
211,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.notnull()

,Tool_ID,TCond,Machined_length,Init_diameter,Final_diameter,CTime,R_measurement,ap,vc,f,Ra,Rz,Rsk,Rku,RSm,Rt
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
208,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
209,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
210,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
211,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [ ]:
df.isna().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Tool_ID          212 non-null    bool
 1   TCond            212 non-null    bool
 2   Machined_length  212 non-null    bool
 3   Init_diameter    212 non-null    bool
 4   Final_diameter   212 non-null    bool
 5   CTime            212 non-null    bool
 6   R_measurement    212 non-null    bool
 7   ap               212 non-null    bool
 8   vc               212 non-null    bool
 9   f                212 non-null    bool
 10  Ra               212 non-null    bool
 11  Rz               212 non-null    bool
 12  Rsk              212 non-null    bool
 13  Rku              212 non-null    bool
 14  RSm              212 non-null    bool
 15  Rt               212 non-null    bool
dtypes: bool(16)
memory usage: 3.4 KB

In [ ]:
df.isnull().sum()

Tool_ID            0
TCond              0
Machined_length    0
Init_diameter      0
Final_diameter     0
CTime              0
R_measurement      0
ap                 0
vc                 0
f                  0
Ra                 0
Rz                 0
Rsk                0
Rku                0
RSm                0
Rt                 0
dtype: int64

In [ ]:
(df.isnull().sum()/(len(df)))*100

Tool_ID            0.0
TCond              0.0
Machined_length    0.0
Init_diameter      0.0
Final_diameter     0.0
CTime              0.0
R_measurement      0.0
ap                 0.0
vc                 0.0
f                  0.0
Ra                 0.0
Rz                 0.0
Rsk                0.0
Rku                0.0
RSm                0.0
Rt                 0.0
dtype: float64

In [ ]:
(df.isnull().sum()/(df.size))*100

Tool_ID            0.0
TCond              0.0
Machined_length    0.0
Init_diameter      0.0
Final_diameter     0.0
CTime              0.0
R_measurement      0.0
ap                 0.0
vc                 0.0
f                  0.0
Ra                 0.0
Rz                 0.0
Rsk                0.0
Rku                0.0
RSm                0.0
Rt                 0.0
dtype: float64

In [ ]:
(df.isnull().sum()/(df.count()))*100

Tool_ID            0.0
TCond              0.0
Machined_length    0.0
Init_diameter      0.0
Final_diameter     0.0
CTime              0.0
R_measurement      0.0
ap                 0.0
vc                 0.0
f                  0.0
Ra                 0.0
Rz                 0.0
Rsk                0.0
Rku                0.0
RSm                0.0
Rt                 0.0
dtype: float64

In [ ]:
df['Tool_ID'].unique()

array([81, 91, 13, 23, 33])

In [ ]:
df1 = df[(df['Tool_ID'] >= 13) & (df['Tool_ID'] <= 13)]

In [ ]:
df1

,Tool_ID,TCond,Machined_length,Init_diameter,Final_diameter,CTime,R_measurement,ap,vc,f,Ra,Rz,Rsk,Rku,RSm,Rt
96,13,0.037,320,69.0,68.5,1.967535,1,0.5,350,0.1,0.572,2.461,0.760,2.468,100.4,2.765
97,13,0.037,320,69.0,68.5,1.967535,2,0.5,350,0.1,0.662,2.496,0.499,1.930,73.9,2.665
98,13,0.037,320,69.0,68.5,1.967535,3,0.5,350,0.1,0.602,2.573,0.701,2.286,102.8,2.803
99,13,0.037,320,69.0,68.5,1.967535,4,0.5,350,0.1,0.638,2.487,0.518,1.998,69.2,2.633
100,13,0.064,320,68.0,67.5,3.906346,1,0.5,350,0.1,0.651,2.716,0.325,1.964,95.1,2.914
101,13,0.064,320,68.0,67.5,3.906346,2,0.5,350,0.1,0.696,2.504,0.315,1.704,56.4,2.626
102,13,0.064,320,68.0,67.5,3.906346,3,0.5,350,0.1,0.630,2.505,0.391,1.944,81.1,2.706
103,13,0.064,320,68.0,67.5,3.906346,4,0.5,350,0.1,0.681,2.597,0.281,1.726,59.3,2.694
104,13,0.091,320,67.0,66.5,5.816434,1,0.5,350,0.1,0.740,2.758,0.264,1.747,62.8,2.971
105,13,0.091,320,67.0,66.5,5.816434,2,0.5,350,0.1,0.683,2.481,0.179,1.668,50.2,2.573
106,13,0.091,320,67.0,66.5,5.816434,3,0.5,350,0.1,0.685,2.626,0.363,1.856,56.4,2.808
107,13,0.091,320,67.0,66.5,5.816434,4,0.5,350,0.1,0.649,2.346,0.214,1.702,56.1,2.500
108,13,0.102,320,66.0,65.5,7.697800,1,0.5,350,0.1,0.678,2.643,0.293,1.823,53.8,2.751
109,13,0.102,320,66.0,65.5,7.697800,2,0.5,350,0.1,0.634,2.303,0.308,1.708,64.3,2.543
110,13,0.102,320,66.0,65.5,7.697800,3,0.5,350,0.1,0.683,2.612,0.198,1.779,55.5,2.870
111,13,0.102,320,66.0,65.5,7.697800,4,0.5,350,0.1,0.642,2.352,0.206,1.677,65.4,2.544

In [ ]:
df2 = df[(df['Tool_ID'] >= 23) & (df['Tool_ID'] <= 23)]

In [ ]:
df2

,Tool_ID,TCond,Machined_length,Init_diameter,Final_diameter,CTime,R_measurement,ap,vc,f,Ra,Rz,Rsk,Rku,RSm,Rt
112,23,0.032,320,93.5,93.25,2.678432,1,0.25,350,0.1,0.514,2.478,0.658,2.568,101.1,2.622
113,23,0.032,320,93.5,93.25,2.678432,2,0.25,350,0.1,0.459,2.051,0.684,2.434,80.5,2.225
114,23,0.032,320,93.5,93.25,2.678432,3,0.25,350,0.1,0.552,2.605,0.637,2.510,89.6,2.908
115,23,0.032,320,93.5,93.25,2.678432,4,0.25,350,0.1,0.435,1.915,0.834,2.560,67.0,2.234
116,23,0.037,320,93.0,92.75,5.342503,1,0.25,350,0.1,0.320,1.500,0.701,2.423,67.0,1.605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,23,0.230,320,84.5,84.25,48.434383,4,0.25,350,0.1,0.605,2.857,-1.223,3.193,89.8,2.941
188,23,0.305,320,84.0,83.75,50.839945,1,0.25,350,0.1,0.349,1.957,-0.414,2.778,56.8,2.270
189,23,0.305,320,84.0,83.75,50.839945,2,0.25,350,0.1,0.321,1.241,-0.386,1.846,43.6,1.386
190,23,0.305,320,84.0,83.75,50.839945,3,0.25,350,0.1,0.294,1.723,-0.594,3.187,100.4,2.020
191,23,0.305,320,84.0,83.75,50.839945,4,0.25,350,0.1,0.292,1.204,-0.459,1.996,45.6,1.392

In [ ]:
df3 = df[(df['Tool_ID'] >= 33) & (df['Tool_ID'] <= 33)]

In [ ]:
df3

,Tool_ID,TCond,Machined_length,Init_diameter,Final_diameter,CTime,R_measurement,ap,vc,f,Ra,Rz,Rsk,Rku,RSm,Rt
192,33,0.032,320,83.5,83.25,2.391201,1,0.25,350,0.1,0.384,1.668,0.429,1.962,50.3,1.833
193,33,0.032,320,83.5,83.25,2.391201,2,0.25,350,0.1,0.550,2.009,0.297,1.656,93.9,2.113
194,33,0.032,320,83.5,83.25,2.391201,3,0.25,350,0.1,0.402,1.699,0.321,1.805,77.5,1.931
195,33,0.032,320,83.5,83.25,2.391201,4,0.25,350,0.1,0.545,2.149,0.259,1.740,80.3,2.296
196,33,0.043,320,83.0,82.75,4.768040,1,0.25,350,0.1,0.546,1.987,0.391,1.732,57.8,2.097
197,33,0.043,320,83.0,82.75,4.768040,2,0.25,350,0.1,0.582,2.144,0.329,1.721,55.3,2.353
198,33,0.043,320,83.0,82.75,4.768040,3,0.25,350,0.1,0.549,2.103,0.273,1.736,56.0,2.239
199,33,0.043,320,83.0,82.75,4.768040,4,0.25,350,0.1,0.590,2.323,0.188,1.721,59.2,2.647
200,33,0.048,320,82.5,82.25,7.130518,1,0.25,350,0.1,0.554,2.281,0.270,1.880,64.4,2.469
201,33,0.048,320,82.5,82.25,7.130518,2,0.25,350,0.1,0.496,1.994,0.235,1.813,64.9,2.184
202,33,0.048,320,82.5,82.25,7.130518,3,0.25,350,0.1,0.555,2.256,0.269,1.849,59.2,2.471
203,33,0.048,320,82.5,82.25,7.130518,4,0.25,350,0.1,0.553,2.099,0.238,1.699,55.8,2.252
204,33,0.070,320,82.0,81.75,9.478634,1,0.25,350,0.1,0.543,2.087,0.208,1.757,88.9,2.333
205,33,0.070,320,82.0,81.75,9.478634,2,0.25,350,0.1,0.551,2.189,0.292,1.830,77.1,2.341
206,33,0.070,320,82.0,81.75,9.478634,3,0.25,350,0.1,0.549,2.187,0.361,1.821,81.5,2.349
207,33,0.070,320,82.0,81.75,9.478634,4,0.25,350,0.1,0.555,2.211,0.291,1.846,63.8,2.457
208,33,0.080,320,81.5,81.25,11.812388,1,0.25,350,0.1,0.541,2.069,0.122,1.723,80.7,2.272
209,33,0.080,320,81.5,81.25,11.812388,2,0.25,350,0.1,0.505,1.856,0.040,1.567,74.9,1.946
210,33,0.080,320,81.5,81.25,11.812388,3,0.25,350,0.1,0.539,2.102,0.126,1.721,75.9,2.245
211,33,0.080,320,81.5,81.25,11.812388,4,0.25,350,0.1,0.546,2.044,0.048,1.614,82.0,2.462

In [ ]:
df4 = df[(df['Tool_ID'] >= 81) & (df['Tool_ID'] <= 81)]

In [ ]:
df4

,Tool_ID,TCond,Machined_length,Init_diameter,Final_diameter,CTime,R_measurement,ap,vc,f,Ra,Rz,Rsk,Rku,RSm,Rt
0,81,0.000,320,93.0,92.5,2.656890,1,0.5,350,0.1,0.884,3.187,0.245,1.660,100.0,3.296
1,81,0.000,320,93.0,92.5,2.656890,2,0.5,350,0.1,0.890,3.340,0.379,1.868,98.0,3.561
2,81,0.000,320,93.0,92.5,2.656890,3,0.5,350,0.1,0.926,3.292,0.192,1.632,99.1,3.485
3,81,0.000,320,93.0,92.5,2.656890,4,0.5,350,0.1,0.886,3.318,0.426,1.874,99.3,3.426
4,81,0.032,320,92.0,91.5,5.285056,1,0.5,350,0.1,0.855,3.022,0.313,1.690,100.6,3.367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,81,0.278,320,76.0,75.5,43.429377,4,0.5,350,0.1,0.572,2.424,-0.294,1.813,43.9,2.824
72,81,0.300,320,75.0,74.5,45.569250,1,0.5,350,0.1,0.573,2.336,-0.366,1.848,51.1,3.029
73,81,0.300,320,75.0,74.5,45.569250,2,0.5,350,0.1,0.494,2.094,-0.372,1.884,49.7,2.339
74,81,0.300,320,75.0,74.5,45.569250,3,0.5,350,0.1,0.543,1.938,-0.352,1.653,49.7,2.161
75,81,0.300,320,75.0,74.5,45.569250,4,0.5,350,0.1,0.487,1.980,-0.353,1.816,48.1,2.160

In [ ]:
df5 = df[(df['Tool_ID'] >= 91) & (df['Tool_ID'] <= 91)]

In [ ]:
df5

,Tool_ID,TCond,Machined_length,Init_diameter,Final_diameter,CTime,R_measurement,ap,vc,f,Ra,Rz,Rsk,Rku,RSm,Rt
76,91,0.037,320,74.0,73.5,2.111150,1,0.5,350,0.1,0.674,2.488,0.376,1.743,100.1,2.700
77,91,0.037,320,74.0,73.5,2.111150,2,0.5,350,0.1,0.651,2.427,0.323,1.766,73.2,2.563
78,91,0.037,320,74.0,73.5,2.111150,3,0.5,350,0.1,0.679,2.551,0.179,1.706,100.0,2.889
79,91,0.037,320,74.0,73.5,2.111150,4,0.5,350,0.1,0.628,2.457,0.324,1.799,101.1,2.638
80,91,0.043,320,73.0,72.5,4.193577,1,0.5,350,0.1,0.626,2.338,0.409,1.865,58.8,2.529
81,91,0.043,320,73.0,72.5,4.193577,2,0.5,350,0.1,0.659,2.494,0.313,1.761,67.8,2.720
82,91,0.043,320,73.0,72.5,4.193577,3,0.5,350,0.1,0.629,2.409,0.347,1.833,54.2,2.607
83,91,0.043,320,73.0,72.5,4.193577,4,0.5,350,0.1,0.635,2.263,0.234,1.636,54.8,2.539
84,91,0.059,320,72.0,71.5,6.247281,1,0.5,350,0.1,0.619,2.404,0.416,1.879,56.9,2.652
85,91,0.059,320,72.0,71.5,6.247281,2,0.5,350,0.1,0.653,2.460,0.319,1.808,60.2,2.714
86,91,0.059,320,72.0,71.5,6.247281,3,0.5,350,0.1,0.634,2.441,0.349,1.809,53.7,2.608
87,91,0.059,320,72.0,71.5,6.247281,4,0.5,350,0.1,0.564,2.238,0.399,1.900,58.1,2.509
88,91,0.086,320,71.0,70.5,8.272262,1,0.5,350,0.1,0.566,2.091,0.404,1.780,52.8,2.201
89,91,0.086,320,71.0,70.5,8.272262,2,0.5,350,0.1,0.601,2.172,0.173,1.647,66.6,2.493
90,91,0.086,320,71.0,70.5,8.272262,3,0.5,350,0.1,0.571,2.176,0.390,1.835,52.0,2.433
91,91,0.086,320,71.0,70.5,8.272262,4,0.5,350,0.1,0.581,2.254,0.285,1.741,56.9,2.636
92,91,0.107,320,70.0,69.5,10.268520,1,0.5,350,0.1,0.577,2.102,0.206,1.633,53.3,2.222
93,91,0.107,320,70.0,69.5,10.268520,2,0.5,350,0.1,0.564,2.208,0.335,1.811,66.8,2.292
94,91,0.107,320,70.0,69.5,10.268520,3,0.5,350,0.1,0.572,2.245,0.189,1.760,52.3,2.626
95,91,0.107,320,70.0,69.5,10.268520,4,0.5,350,0.1,0.531,2.130,0.285,1.851,85.8,2.387

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
X1 = df1[[ 'Machined_length', 'Init_diameter', 'Final_diameter', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y1 = df1['TCond']
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X1_train, y1_train)
linear_y1_pred = linear_model.predict(X1_test)
linear_mse1 = mean_squared_error(y1_test, linear_y1_pred)
linear_rmse1 = np.sqrt(linear_mse1)
linear_r21 = r2_score(y1_test, linear_y1_pred)
print('Linear Regression Mean squared error: ', linear_mse1)
print('Linear Regression Root Mean Squared Error:', linear_rmse1)
print('Linear Regression R-squared: ', linear_r21)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X1_train, y1_train)
tree_y1_pred = tree_model.predict(X1_test)
tree_mse1 = mean_squared_error(y1_test, tree_y1_pred)
tree_rmse1 = np.sqrt(tree_mse1)
tree_r21 = r2_score(y1_test, tree_y1_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse1)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse1)
print('Decision Tree Regression R-squared: ', tree_r21)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X1_train, y1_train)
forest_y1_pred = forest_model.predict(X1_test)
forest_mse1 = mean_squared_error(y1_test, forest_y1_pred)
forest_rmse1 = np.sqrt(forest_mse1)
forest_r21 = r2_score(y1_test, forest_y1_pred)
print('Random Forest Regression Mean squared error: ', forest_mse1)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse1)
print('Random Forest Regression R-squared: ', forest_r21)

Linear Regression Mean squared error:  1.2120456040651718e-05
Linear Regression Root Mean Squared Error: 0.003481444533617004
Linear Regression R-squared:  0.982916904805283
Decision Tree Regression Mean squared error:  0.0
Decision Tree Regression Root Mean Squared Error: 0.0
Decision Tree Regression R-squared:  1.0
Random Forest Regression Mean squared error:  8.50450000000001e-05
Random Forest Regression Root Mean Squared Error: 0.009221984602025755
Random Forest Regression R-squared:  0.8801338971106412

In [ ]:
X2 = df2[[ 'Machined_length', 'Init_diameter', 'Final_diameter', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y2 = df2['TCond']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X2_train, y2_train)
linear_y2_pred = linear_model.predict(X2_test)
linear_mse2 = mean_squared_error(y2_test, linear_y2_pred)
linear_rmse2 = np.sqrt(linear_mse2)
linear_r22 = r2_score(y2_test, linear_y2_pred)
print('Linear Regression Mean squared error: ', linear_mse2)
print('Linear Regression Root Mean Squared Error:', linear_rmse2)
print('Linear Regression R-squared: ', linear_r22)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X2_train, y2_train)
tree_y2_pred = tree_model.predict(X2_test)
tree_mse2 = mean_squared_error(y2_test, tree_y2_pred)
tree_rmse2 = np.sqrt(tree_mse2)
tree_r22 = r2_score(y2_test, tree_y2_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse2)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse2)
print('Decision Tree Regression R-squared: ', tree_r22)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X2_train, y2_train)
forest_y2_pred = forest_model.predict(X2_test)
forest_mse2 = mean_squared_error(y2_test, forest_y2_pred)
forest_rmse2 = np.sqrt(forest_mse2)
forest_r22 = r2_score(y2_test, forest_y2_pred)
print('Random Forest Regression Mean squared error: ', forest_mse2)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse2)
print('Random Forest Regression R-squared: ', forest_r22)

Linear Regression Mean squared error:  0.00010570388780451769
Linear Regression Root Mean Squared Error: 0.010281239604469769
Linear Regression R-squared:  0.9742435939940639
Decision Tree Regression Mean squared error:  5.80178919880624e-05
Decision Tree Regression Root Mean Squared Error: 0.007616947681851465
Decision Tree Regression R-squared:  0.9858630329244218
Random Forest Regression Mean squared error:  6.872937500000006e-05
Random Forest Regression Root Mean Squared Error: 0.008290318148298052
Random Forest Regression R-squared:  0.9832530125069007

In [ ]:
X3 = df3[[ 'Machined_length', 'Init_diameter', 'Final_diameter', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y3 = df3['TCond']
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X3_train, y3_train)
linear_y3_pred = linear_model.predict(X3_test)
linear_mse3 = mean_squared_error(y3_test, linear_y3_pred)
linear_rmse3 = np.sqrt(linear_mse3)
linear_r23 = r2_score(y3_test, linear_y3_pred)
print('Linear Regression Mean squared error: ', linear_mse3)
print('Linear Regression Root Mean Squared Error:', linear_rmse3)
print('Linear Regression R-squared: ', linear_r23)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X3_train, y3_train)
tree_y3_pred = tree_model.predict(X3_test)
tree_mse3 = mean_squared_error(y3_test, tree_y3_pred)
tree_rmse3 = np.sqrt(tree_mse3)
tree_r23 = r2_score(y3_test, tree_y3_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse3)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse3)
print('Decision Tree Regression R-squared: ', tree_r23)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X3_train, y3_train)
forest_y3_pred = forest_model.predict(X3_test)
forest_mse3 = mean_squared_error(y3_test, forest_y3_pred)
forest_rmse3 = np.sqrt(forest_mse3)
forest_r23 = r2_score(y3_test, forest_y3_pred)
print('Random Forest Regression Mean squared error: ', forest_mse3)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse3)
print('Random Forest Regression R-squared: ', forest_r23)

Linear Regression Mean squared error:  5.879260612414683e-05
Linear Regression Root Mean Squared Error: 0.007667633671749507
Linear Regression R-squared:  0.8761609139038509
Decision Tree Regression Mean squared error:  0.0
Decision Tree Regression Root Mean Squared Error: 0.0
Decision Tree Regression R-squared:  1.0
Random Forest Regression Mean squared error:  2.635499999999999e-05
Random Forest Regression Root Mean Squared Error: 0.0051337121072378014
Random Forest Regression R-squared:  0.9444865718799369

In [ ]:
X4 = df4[[ 'Machined_length', 'Init_diameter', 'Final_diameter', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y4 = df4['TCond']
X4_train, X4_test, y4_train, y4_test = train_test_split(X4, y4, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X4_train, y4_train)
linear_y4_pred = linear_model.predict(X4_test)
linear_mse4= mean_squared_error(y4_test, linear_y4_pred)
linear_rmse4 = np.sqrt(linear_mse4)
linear_r24 = r2_score(y4_test, linear_y4_pred)
print('Linear Regression Mean squared error: ', linear_mse4)
print('Linear Regression Root Mean Squared Error:', linear_rmse4)
print('Linear Regression R-squared: ', linear_r24)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X4_train, y4_train)
tree_y4_pred = tree_model.predict(X4_test)
tree_mse4 = mean_squared_error(y4_test, tree_y4_pred)
tree_rmse4 = np.sqrt(tree_mse4)
tree_r24 = r2_score(y4_test, tree_y4_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse4)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse4)
print('Decision Tree Regression R-squared: ', tree_r24)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X4_train, y4_train)
forest_y4_pred = forest_model.predict(X4_test)
forest_mse4 = mean_squared_error(y4_test, forest_y4_pred)
forest_rmse4 = np.sqrt(forest_mse4)
forest_r24 = r2_score(y4_test, forest_y4_pred)
print('Random Forest Regression Mean squared error: ', forest_mse4)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse4)
print('Random Forest Regression R-squared: ', forest_r24)

Linear Regression Mean squared error:  0.00022400637984948881
Linear Regression Root Mean Squared Error: 0.014966842681390381
Linear Regression R-squared:  0.9616492074849132
Decision Tree Regression Mean squared error:  0.00010043206254724117
Decision Tree Regression Root Mean Squared Error: 0.01002157984288112
Decision Tree Regression R-squared:  0.9828056272540121
Random Forest Regression Mean squared error:  0.0001210218749999998
Random Forest Regression Root Mean Squared Error: 0.011000994273246387
Random Forest Regression R-squared:  0.9792805686113482

In [ ]:
X5 = df5[[ 'Machined_length', 'Init_diameter', 'Final_diameter', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y5 = df5['TCond']
X5_train, X5_test, y5_train, y5_test = train_test_split(X5, y5, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X5_train, y5_train)
linear_y5_pred = linear_model.predict(X5_test)
linear_mse5 = mean_squared_error(y5_test, linear_y5_pred)
linear_rmse5 = np.sqrt(linear_mse5)
linear_r25 = r2_score(y5_test, linear_y5_pred)
print('Linear Regression Mean squared error: ', linear_mse5)
print('Linear Regression Root Mean Squared Error:', linear_rmse5)
print('Linear Regression R-squared: ', linear_r25)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X5_train, y5_train)
tree_y5_pred = tree_model.predict(X5_test)
tree_mse5 = mean_squared_error(y5_test, tree_y5_pred)
tree_rmse5 = np.sqrt(tree_mse5)
tree_r25 = r2_score(y5_test, tree_y5_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse5)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse5)
print('Decision Tree Regression R-squared: ', tree_r25)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X5_train, y5_train)
forest_y5_pred = forest_model.predict(X5_test)
forest_mse5 = mean_squared_error(y5_test, forest_y5_pred)
forest_rmse5 = np.sqrt(forest_mse5)
forest_r25 = r2_score(y5_test, forest_y5_pred)
print('Random Forest Regression Mean squared error: ', forest_mse5)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse5)
print('Random Forest Regression R-squared: ', forest_r25)

Linear Regression Mean squared error:  1.0715649904788038e-05
Linear Regression Root Mean Squared Error: 0.0032734767304485363
Linear Regression R-squared:  0.9886026458501224
Decision Tree Regression Mean squared error:  8.999999999999995e-06
Decision Tree Regression Root Mean Squared Error: 0.002999999999999999
Decision Tree Regression R-squared:  0.9904274413348402
Random Forest Regression Mean squared error:  9.404999999999967e-06
Random Forest Regression Root Mean Squared Error: 0.0030667572450391255
Random Forest Regression R-squared:  0.9899966761949079

In [ ]:
X6 = df1[[ 'Machined_length', 'Init_diameter', 'TCond', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y6 = df1['Final_diameter']
X6_train, X6_test, y6_train, y6_test = train_test_split(X6, y6, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X6_train, y6_train)
linear_y6_pred = linear_model.predict(X6_test)
linear_mse6 = mean_squared_error(y6_test, linear_y6_pred)
linear_rmse6 = np.sqrt(linear_mse6)
linear_r26 = r2_score(y6_test, linear_y6_pred)
print('Linear Regression Mean squared error: ', linear_mse6)
print('Linear Regression Root Mean Squared Error:', linear_rmse6)
print('Linear Regression R-squared: ', linear_r26)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X6_train, y6_train)
tree_y6_pred = tree_model.predict(X6_test)
tree_mse6 = mean_squared_error(y6_test, tree_y6_pred)
tree_rmse6 = np.sqrt(tree_mse6)
tree_r26 = r2_score(y6_test, tree_y6_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse6)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse6)
print('Decision Tree Regression R-squared: ', tree_r26)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X6_train, y6_train)
forest_y6_pred = forest_model.predict(X6_test)
forest_mse6 = mean_squared_error(y6_test, forest_y6_pred)
forest_rmse6 = np.sqrt(forest_mse6)
forest_r26 = r2_score(y6_test, forest_y6_pred)
print('Random Forest Regression Mean squared error: ', forest_mse6)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse6)
print('Random Forest Regression R-squared: ', forest_r26)

Linear Regression Mean squared error:  1.5146129380243427e-28
Linear Regression Root Mean Squared Error: 1.2306961192854808e-14
Linear Regression R-squared:  1.0
Decision Tree Regression Mean squared error:  0.0
Decision Tree Regression Root Mean Squared Error: 0.0
Decision Tree Regression R-squared:  1.0
Random Forest Regression Mean squared error:  0.12999999999999945
Random Forest Regression Root Mean Squared Error: 0.3605551275463982
Random Forest Regression R-squared:  0.9133333333333337

In [ ]:
X7 = df2[[ 'Machined_length', 'Init_diameter', 'TCond', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y7 = df2['Final_diameter']
X7_train, X7_test, y7_train, y7_test = train_test_split(X7, y7, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X7_train, y7_train)
linear_y7_pred = linear_model.predict(X7_test)
linear_mse7 = mean_squared_error(y7_test, linear_y7_pred)
linear_rmse7 = np.sqrt(linear_mse7)
linear_r27 = r2_score(y7_test, linear_y7_pred)
print('Linear Regression Mean squared error: ', linear_mse7)
print('Linear Regression Root Mean Squared Error:', linear_rmse7)
print('Linear Regression R-squared: ', linear_r27)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X7_train, y7_train)
tree_y7_pred = tree_model.predict(X7_test)
tree_mse7 = mean_squared_error(y7_test, tree_y7_pred)
tree_rmse7 = np.sqrt(tree_mse7)
tree_r27 = r2_score(y7_test, tree_y7_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse7)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse7)
print('Decision Tree Regression R-squared: ', tree_r27)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X7_train, y7_train)
forest_y7_pred = forest_model.predict(X7_test)
forest_mse7 = mean_squared_error(y7_test, forest_y7_pred)
forest_rmse7 = np.sqrt(forest_mse7)
forest_r27 = r2_score(y7_test, forest_y7_pred)
print('Random Forest Regression Mean squared error: ', forest_mse7)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse7)
print('Random Forest Regression R-squared: ', forest_r27)

Linear Regression Mean squared error:  1.1738250269688656e-27
Linear Regression Root Mean Squared Error: 3.426112997215453e-14
Linear Regression R-squared:  1.0
Decision Tree Regression Mean squared error:  0.20878176184385527
Decision Tree Regression Root Mean Squared Error: 0.45692642935581573
Decision Tree Regression R-squared:  0.9704665666351557
Random Forest Regression Mean squared error:  0.012968749999999859
Random Forest Regression Root Mean Squared Error: 0.11388041973930312
Random Forest Regression R-squared:  0.9981654924713358

In [ ]:
X8 = df3[['Machined_length', 'Init_diameter', 'TCond', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm', 'Rt']]
y8 = df3['Final_diameter']
X8_train, X8_test, y8_train, y8_test = train_test_split(X8, y8, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X8_train, y8_train)
linear_y8_pred = linear_model.predict(X8_test)
linear_mse8 = mean_squared_error(y8_test, linear_y8_pred)
linear_rmse8 = np.sqrt(linear_mse8)
linear_r28 = r2_score(y8_test, linear_y8_pred)
print('Linear Regression Mean squared error: ', linear_mse8)
print('Linear Regression Root Mean Squared Error:', linear_rmse8)
print('Linear Regression R-squared: ', linear_r28)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X8_train, y8_train)
tree_y8_pred = tree_model.predict(X8_test)
tree_mse8 = mean_squared_error(y8_test, tree_y8_pred)
tree_rmse8 = np.sqrt(tree_mse8)
tree_r28 = r2_score(y8_test, tree_y8_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse8)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse8)
print('Decision Tree Regression R-squared: ', tree_r28)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X8_train, y8_train)
forest_y8_pred = forest_model.predict(X8_test)
forest_mse8 = mean_squared_error(y8_test, forest_y8_pred)
forest_rmse8 = np.sqrt(forest_mse8)
forest_r28 = r2_score(y8_test, forest_y8_pred)
print('Random Forest Regression Mean squared error: ', forest_mse8)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse8)
print('Random Forest Regression R-squared: ', forest_r28)

Linear Regression Mean squared error:  1.5146129380243427e-28
Linear Regression Root Mean Squared Error: 1.2306961192854808e-14
Linear Regression R-squared:  1.0
Decision Tree Regression Mean squared error:  0.0625
Decision Tree Regression Root Mean Squared Error: 0.25
Decision Tree Regression R-squared:  0.9215686274509804
Random Forest Regression Mean squared error:  0.06375000000000128
Random Forest Regression Root Mean Squared Error: 0.25248762345905446
Random Forest Regression R-squared:  0.9199999999999984

In [ ]:
X9 = df4[[ 'Machined_length', 'Init_diameter', 'TCond', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y9 = df4['Final_diameter']
X9_train, X9_test, y9_train, y9_test = train_test_split(X9, y9, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X9_train, y9_train)
linear_y9_pred = linear_model.predict(X9_test)
linear_mse9 = mean_squared_error(y9_test, linear_y9_pred)
linear_rmse9 = np.sqrt(linear_mse9)
linear_r29 = r2_score(y9_test, linear_y9_pred)
print('Linear Regression Mean squared error: ', linear_mse9)
print('Linear Regression Root Mean Squared Error:', linear_rmse9)
print('Linear Regression R-squared: ', linear_r29)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X9_train, y9_train)
tree_y9_pred = tree_model.predict(X9_test)
tree_mse9 = mean_squared_error(y9_test, tree_y9_pred)
tree_rmse9 = np.sqrt(tree_mse9)
tree_r29 = r2_score(y9_test, tree_y9_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse9)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse9)
print('Decision Tree Regression R-squared: ', tree_r29)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X9_train, y9_train)
forest_y9_pred = forest_model.predict(X9_test)
forest_mse9 = mean_squared_error(y9_test, forest_y9_pred)
forest_rmse9 = np.sqrt(forest_mse9)
forest_r29 = r2_score(y9_test, forest_y9_pred)
print('Random Forest Regression Mean squared error: ', forest_mse9)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse9)
print('Random Forest Regression R-squared: ', forest_r29)

Linear Regression Mean squared error:  2.145701662201152e-28
Linear Regression Root Mean Squared Error: 1.464821375527116e-14
Linear Regression R-squared:  1.0
Decision Tree Regression Mean squared error:  1.0095968445535561
Decision Tree Regression Root Mean Squared Error: 1.0047869647609666
Decision Tree Regression R-squared:  0.9664123726828187
Random Forest Regression Mean squared error:  0.1231250000000002
Random Forest Regression Root Mean Squared Error: 0.3508917211904553
Random Forest Regression R-squared:  0.9959038336582197

In [ ]:
X10 = df5[[ 'Machined_length', 'Init_diameter', 'TCond', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y10 = df5['Final_diameter']
X10_train, X10_test, y10_train, y10_test = train_test_split(X10, y10, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X10_train, y10_train)
linear_y10_pred = linear_model.predict(X10_test)
linear_mse10 = mean_squared_error(y10_test, linear_y10_pred)
linear_rmse10 = np.sqrt(linear_mse10)
linear_r210 = r2_score(y10_test, linear_y10_pred)
print('Linear Regression Mean squared error: ', linear_mse10)
print('Linear Regression Root Mean Squared Error:', linear_rmse10)
print('Linear Regression R-squared: ', linear_r210)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X10_train, y10_train)
tree_y10_pred = tree_model.predict(X10_test)
tree_mse10 = mean_squared_error(y10_test, tree_y10_pred)
tree_rmse10 = np.sqrt(tree_mse10)
tree_r210 = r2_score(y10_test, tree_y10_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse10)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse10)
print('Decision Tree Regression R-squared: ', tree_r210)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X10_train, y10_train)
forest_y10_pred = forest_model.predict(X10_test)
forest_mse10 = mean_squared_error(y10_test, forest_y10_pred)
forest_rmse10 = np.sqrt(forest_mse10)
forest_r210 = r2_score(y10_test, forest_y10_pred)
print('Random Forest Regression Mean squared error: ', forest_mse10)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse10)
print('Random Forest Regression R-squared: ', forest_r210)

Linear Regression Mean squared error:  5.048709793414476e-29
Linear Regression Root Mean Squared Error: 7.105427357601002e-15
Linear Regression R-squared:  1.0
Decision Tree Regression Mean squared error:  0.25
Decision Tree Regression Root Mean Squared Error: 0.5
Decision Tree Regression R-squared:  0.9215686274509804
Random Forest Regression Mean squared error:  0.20249999999999974
Random Forest Regression Root Mean Squared Error: 0.44999999999999973
Random Forest Regression R-squared:  0.9364705882352942

In [ ]:
X11 = df[[ 'Machined_length', 'Init_diameter', 'Final_diameter', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y11 = df['TCond']
X11_train, X11_test, y11_train, y11_test = train_test_split(X11, y11, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X11_train, y11_train)
linear_y11_pred = linear_model.predict(X11_test)
linear_mse11 = mean_squared_error(y11_test, linear_y11_pred)
linear_rmse11 = np.sqrt(linear_mse11)
linear_r211 = r2_score(y11_test, linear_y11_pred)
print('Linear Regression Mean squared error: ', linear_mse11)
print('Linear Regression Root Mean Squared Error:', linear_rmse11)
print('Linear Regression R-squared: ', linear_r211)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X11_train, y11_train)
tree_y11_pred = tree_model.predict(X11_test)
tree_mse11 = mean_squared_error(y11_test, tree_y11_pred)
tree_rmse11 = np.sqrt(tree_mse11)
tree_r211 = r2_score(y11_test, tree_y11_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse11)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse11)
print('Decision Tree Regression R-squared: ', tree_r211)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X11_train, y11_train)
forest_y11_pred = forest_model.predict(X11_test)
forest_mse11 = mean_squared_error(y11_test, forest_y11_pred)
forest_rmse11 = np.sqrt(forest_mse11)
forest_r211 = r2_score(y11_test, forest_y11_pred)
print('Random Forest Regression Mean squared error: ', forest_mse11)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse11)
print('Random Forest Regression R-squared: ', forest_r211)

Linear Regression Mean squared error:  0.00036978324187019384
Linear Regression Root Mean Squared Error: 0.019229748876940483
Linear Regression R-squared:  0.9454877198163015
Decision Tree Regression Mean squared error:  0.00036228815556481954
Decision Tree Regression Root Mean Squared Error: 0.019033868644204192
Decision Tree Regression R-squared:  0.9465926218194675
Random Forest Regression Mean squared error:  9.337279069767441e-05
Random Forest Regression Root Mean Squared Error: 0.00966295972762354
Random Forest Regression R-squared:  0.9862352774498304

In [ ]:
X12 = df[[ 'Machined_length', 'Init_diameter', 'TCond', 'CTime', 'R_measurement', 'ap', 'vc', 'f', 'Ra', 'Rz', 'Rsk', 'Rku', 'RSm','Rt']]
y12 = df['Final_diameter']
X12_train, X12_test, y12_train, y12_test = train_test_split(X12, y12, test_size=0.2, random_state=42)

# Linear Regression Model
linear_model = LinearRegression()
linear_model.fit(X12_train, y12_train)
linear_y12_pred = linear_model.predict(X12_test)
linear_mse12 = mean_squared_error(y12_test, linear_y12_pred)
linear_rmse12 = np.sqrt(linear_mse12)
linear_r212 = r2_score(y12_test, linear_y12_pred)
print('Linear Regression Mean squared error: ', linear_mse12)
print('Linear Regression Root Mean Squared Error:', linear_rmse12)
print('Linear Regression R-squared: ', linear_r212)

# Decision Tree Regression Model
tree_model = DecisionTreeRegressor(max_depth=3)
tree_model.fit(X12_train, y12_train)
tree_y12_pred = tree_model.predict(X12_test)
tree_mse12 = mean_squared_error(y12_test, tree_y12_pred)
tree_rmse12 = np.sqrt(tree_mse12)
tree_r212 = r2_score(y12_test, tree_y12_pred)
print('Decision Tree Regression Mean squared error: ', tree_mse12)
print('Decision Tree Regression Root Mean Squared Error:', tree_rmse12)
print('Decision Tree Regression R-squared: ', tree_r212)

# Random Forest Regression Model
forest_model = RandomForestRegressor(n_estimators=10)
forest_model.fit(X12_train, y12_train)
forest_y12_pred = forest_model.predict(X12_test)
forest_mse12 = mean_squared_error(y12_test, forest_y12_pred)
forest_rmse12 = np.sqrt(forest_mse11)
forest_r212 = r2_score(y12_test, forest_y12_pred)
print('Random Forest Regression Mean squared error: ', forest_mse12)
print('Random Forest Regression Root Mean Squared Error:', forest_rmse12)
print('Random Forest Regression R-squared: ', forest_r212)

Linear Regression Mean squared error:  1.1741185566080176e-28
Linear Regression Root Mean Squared Error: 1.0835675136363298e-14
Linear Regression R-squared:  1.0
Decision Tree Regression Mean squared error:  0.9670977596507676
Decision Tree Regression Root Mean Squared Error: 0.9834112871280091
Decision Tree Regression R-squared:  0.9834877634793094
Random Forest Regression Mean squared error:  0.05436046511627906
Random Forest Regression Root Mean Squared Error: 0.00966295972762354
Random Forest Regression R-squared:  0.9990718488917822